<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    
    <context:component-scan base-package="com.mycompany"/>
    
    <jpa:repositories base-package="com.mycompany.DAO"/>
    
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="my_source">
    
    <property name="driverClassName">
    <value>com.mysql.cj.jdbc.Driver</value>
    </property>
    
     <property name="url">
    <value>jdbc:mysql://localhost:3306/school2</value>
    </property>
    
     <property name="username">
    <value>root</value>
    </property>
    
     <property name="password">
    <value>root</value>
    </property>
    
    </bean>
    
    <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactory">
    <property name="dataSource" ref="my_source"/>
    <property name="packagesToScan" value="com.mycompany.Students"/>
    
      
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
        </property>
         
    
    <property name="jpaProperties">
    <props>
    <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
    <prop key="hibernate.hbm2ddl">update</prop>
    <prop key="hibernate.show_sql">true</prop>
     </props>
    </property>
    
    </bean>
    
    <bean class="org.springframework.orm.jpa.JpaTransactionManager" name="transactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
   
    </bean>
    
    
    </beans>